@model hikUI.Models.ConnectViewModel
@{ ViewData["Title"] = "Connect"; }
<h1>@ViewData["Title"]</h1>

<p>Use this page to connect to your camera system.</p>
<form method="post" action='@Url.Action("Connect", "Home")'>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cameras.Endpoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cameras.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cameras.Password)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.EditorFor(model => model.Cameras.Endpoint)
                </td>
                <td>
                    @Html.EditorFor(model => model.Cameras.Username)
                </td>
                <td>
                    @Html.EditorFor(model => model.Cameras.Password)
                </td>
                <td>
                    <input type="submit" value="Refresh" id="Submit" />
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceInfoString)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.DeviceInfoString)
                </td>
            </tr>
        </tbody>
    </table>
</form>
